/* Geral da Página */
body, textarea{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* nav bar */

.navbar-container{
    width: 100%;
    height: 80px;
    background-color: black;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box;
}

.logo {
    width: 120px;
    position: relative;
    left: -15px;
    top: -16px;
}

nav{
    position: relative;
}

.navbar-items{
    position: absolute;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin: 0;
    right: 0;
    list-style: none;
}

.navbar-items li{
    display: inline-block;
    text-transform: uppercase;
    font-family: "Open Sans";
    margin-left: 25px;
}

.navbar-items li a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.navbar-items li a:hover{
    color: tomato;
}

.btn-login{
    padding: 15px 20px;
    background-color: tomato;
    border-radius: 5px;
}

.btn-login:hover{
    background-color: #711904;
}

/* Banner principal */

.banner{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 13em 0;
    position: relative;
}

.banner h1, .banner p{
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.banner h1{
    font-size: 54px;
}

.banner p{
    font-size: 32px;
}

/* Especialidades */

.specialties-container{
    padding: 5em 0;
}

.specialties-container ul{
    display: flex;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.specialties-container ul li{
    flex: 1 1 200px;
    text-align: center;
    padding: 20px;
}

.fa-dumbbell{
    font-size: 60px;
    color: #fcb823;
    margin-bottom: 20px;
}

.fa-plate-wheat{
    font-size: 60px;
    color: #45da7d;
    margin-bottom: 20px;
}

.fa-heart-pulse{
    font-size: 60px;
    color: #dc0a17;
    margin-bottom: 20px;
}

.specialties-container ul li h3{
    margin-bottom: 25px;
    font-size: 20px;
}

.specialties-container ul li p{
    line-height: 25px;
}

/* Preços */

.pricing-container{
    padding-bottom: 5em;
    text-align: center;
}

.pricing-container h1{
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

.pricing-container p{
    font-size: 20px;
    margin-bottom: 20px;
}

/* Planos */

.plans-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.plan{
    flex: 1 1 200px;
    max-width: 275px;
    margin-left: 20px;
    margin-right: 20px;
}

.plan ul{
    padding: 0;
}
.plan li{
    background-color: #fcb823;
    height: 60px;
    line-height: 20px;
    padding-top: 10px;
}

.plan .price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #801D1D;
    color: #fff;
    text-align: center;
    line-height: 120px;
    font-size: 18px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}

.plan .plan-name{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: tomato;
    padding-top: 60px;
}

.plan .plan-btn{
    background-color: tomato;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

.plan .recommended{
    background-color: #dc0a17;
}

/* Área de novidades */

.news-container{
    background-color: black;
    text-align: center;
    padding: 5em 0;
}

.news-container h2{
    color: #fff;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 15px;
}


.news-container p{
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}


.news-container form{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.news-container input{
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 500px;
    margin-right: 30px;
    font-size: 20px;
}

.news-container input[type=submit]{
    background-color: #fff;
    width: 100px;
    margin-left: -50px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

/* contato */

.contact-container{
    text-align: center;
    padding-top: 5em;
    padding-bottom: 2em;
}

.contact-container h2{
    font-size: 36px;
}

.contact-container p{
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input, .contact-container textarea{
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.contact-container textarea{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 468px;
    height: 150px;
}

.contact-container input[type=submit]{
    background-color: tomato;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

/* footer */

footer{
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

/* responsivo */

@media screen and (max-width: 1100px) {
    .plans-container{
        width: 95%;
    }

    .plan{
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width:900px) {

    .btn-login {
        padding: 10px 15px;
    }

    .banner h1{
        font-size: 40px;
    }

    .banner p{
        font-size: 25px;
    }

    .plans-container, .specialties-container ul{
        flex-wrap: wrap;
    }

    .news-container input{
        width: 400px;
    }
}

@media screen and (max-width: 576px) {
    html, body{
        overflow-x: hidden;
    }

    .navbar-items li{
        font-size: 12px;
        margin-left: 10px;
    }

    .plan{
        width: 100%;
        max-width: 100%;
    }

    .news-container, .contact-container{
        padding: 3em 2em;
    }

    .news-container input{
        width: 100%;
        box-sizing: border-box;
        font-size: 15px;
    }

    .contact-container input, .contact-container textarea{
        width: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
        box-sizing: border-box;
    }
}